# Python virtual environments
venv/
*/venv/
__pycache__/
*.pyc

# Node.js dependencies
node_modules/

# OS/system files
.DS_Store

# Logs
*.log

# Large binaries and archives
*.tar.gz
*.dylib
*.so
*.pkl
*.h5
*.onnx
*.zip

Dockerfile