# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore macOS junk files
.DS_Store

# Ignore virtual environments
venv/
frontend/venv/
backend/venv/

# Ignore training data
*.csv

# Ignore build artifacts
*.pkl
